extends layout

block content
  h2.title About
  .container
    .row
      .sm-col-12.sub-title 
        h5
          | This site was created by me, 
          a(href="https://www.linkedin.com/in/joshuaeweiss/" target="_blank") Josh Weiss
          | . I was a teacher for 7 years and saw many types of classrooms -- public and private, domestic and international, high-income and low-income. For many years, I was inept in applying the rich array of strategies out there. Aionno was born of my fascination with finding and applying better strategies day-by-day, year-by-year. 
        br
        h5 This site intends to assist teachers in the discovery of techniques, methods, and interventions that make learning stick. Think of Aionno like a master teacher in the break room learning in and whispering, "Tell me again where the lesson went wrong. I think I may have a fix."  
        br
        h5 
          | Aionno is still in the toddler phase, so please be patient as it grows and knocks into furniture. But feedback is lovely! Do you know a strategy that we can add to the site? Do you want to integrate this tool into a training or professional development curriculum? Feel free to get in touch  
          a(href="mailto:jweiss55@gmail.com" target="_blank") here
          | .   

      
