
<html>
  <head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" src="css/style.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="container">
      <h1>Aionno</h1>
      <h3>Find better classroom strategies</h3>
      <h2>Discover a Learning Model</h2>
      <h3>Let's discover learning models</h3>
      <h4>Check out the models below and select ones of interest to save or collect</h4>
    </div>
    <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="application/javascript" src="js/strategypopulate.js"></script>
  </body>
</html>