extends layout

block content
  .container
    .row
      .mid-col-4
        h3 Student is
        .dropdown
          button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Dropdown button
          .dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
      .mid-col-4
        h3 Situation is
        .dropdown
          button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Dropdown button
          .dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
  include strategylist
