extends layout

block content
  .container
    .row
      .mid-col-4
        h3 Student is
        .dropdown
          button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Select description
          .dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href='#') Anxious
            a.dropdown-item(href='#') Tired
            a.dropdown-item(href='#') Aggressive
      .mid-col-4
        h3 Situation is
        .dropdown
          button#dropdownMenuButton2.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Dropdown description
          .dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href='#') Lecture
            a.dropdown-item(href='#') Group work
            a.dropdown-item(href='#') Independent work
  include strategylist
