
<html>
  <head>
    <title></title>
    <meta charset="utf-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" src="../static/css/style.css"/>
  </head>
  <body>
    <div class="container">
      <h1>Aionno</h1>
      <h3>Find better classroom strategies</h3>
      <div class="container">
        <div class="row">
          <div class="mid-col-4">
            <h3>Student is</h3>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown button</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
            </div>
          </div>
          <div class="mid-col-4">
            <h3>Situation is</h3>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown button</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container strategy-blocks">Strategy list here:
        <div id="strategy-block-1">first item</div>
        <div id="strategy-block-2">second item</div>
        <div id="strategy-block-3">third item</div>
        <div id="strategy-block-4">fourth item</div>
      </div>
    </div>
    <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="application/javascript" src="../static/js/strategypopulate.js"></script>
  </body>
</html>